* {box-sizing: border-box;}

body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0;}

main {display: flex;
flex-wrap: wrap;
margin-top: 5%;}

.main-header {display: flex;  flex-wrap: wrap;  justify-content: space-between; 
padding: 40px; 
background: lightgray;
color: azure; }

.card {flex 1 0 0;
padding: 15px;
border-style: solid;-
text-align: center; 
border-width: 3px;}

.card header {
    background: light olive;
    padding: 15px;
    color: beige;
}