body {
    display: flex;
    flex-direction: column;
    line-height: 1.4;


}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: lightgray;
    color: darkolivegreen;
}

h1 {font-size: 175%;}

h2 { margin: 3%;
    font-size: 200%;
}
nav ul { display: flex;
justify-content: space-between;
min-width: 275px;}

nav a {
    color: darkolivegreen;
    font-weight: bold;
    text-shadow: none ;

}
aside {
    width: 30%;
}